[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = "*"
python-docx = "*"
mysql-connector-python = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"
